# Setup

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Feature engineering

In [16]:
df = pd.read_csv('aggregated_data_250ms.csv')

In [9]:
overlap_percentage = 0.9

In [7]:
df

,End Time,Run,Participant,count_Acceleration x (m/s^2)_head,count_Acceleration y (m/s^2)_head,count_Acceleration z (m/s^2)_head,count_Direction (°)_head,count_Distance (cm)_head,count_Gyroscope x (rad/s)_head,count_Gyroscope y (rad/s)_head,...,std_Z (m/s^2)_leg,std_Z (rad/s)_leg,std_Z (µT)_leg,std_Distance (cm)_head,std_Distance (cm)_leg,std_Height (m)_leg,std_Horizontal Accuracy (m)_leg,std_Latitude (°)_leg,std_Longitude (°)_leg,std_Vertical Accuracy (°)_leg
0,1970-01-01 00:00:00.250000000,2,Julian,110.0,110.0,110.0,0.0,1.0,104.0,104.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1970-01-01 00:00:00.500000000,2,Julian,118.0,118.0,118.0,0.0,0.0,118.0,118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1970-01-01 00:00:00.750000000,2,Julian,117.0,117.0,117.0,1.0,0.0,117.0,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1970-01-01 00:00:01.000000000,2,Julian,118.0,118.0,118.0,0.0,0.0,118.0,118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1970-01-01 00:00:01.250000000,2,Julian,118.0,118.0,118.0,0.0,0.0,118.0,118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17626,1970-01-01 00:02:04.169284709,1,Jacob,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.093896,0.521730,12.046555,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17627,1970-01-01 00:02:04.419284709,1,Jacob,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.763423,0.848230,3.209731,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17628,1970-01-01 00:02:04.669284709,1,Jacob,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.811151,0.964101,1.441510,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17629,1970-01-01 00:02:04.919284709,1,Jacob,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.296109,0.717031,0.979862,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17630,1970-01-01 00:02:05.169284709,1,Jacob,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.379161,0.100028,0.764668,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
print(df.groupby('Participant').size())

Participant
Dany       2363
Felix      2652
Jacob      1808
Julian     2014
Mark       2253
Martin     2216
Michele    2118
Paul       2207
dtype: int64

## Time domain

In [12]:
# performing feature engineering on the data

window_size = 80

# calculating the number of windows

num_windows = int(df.shape[0] / (window_size * (1 - overlap_percentage)))

print('Number of windows:', num_windows)

# print number of windows for each participant
print(df.groupby('Participant').size() / (window_size * (1 - overlap_percentage)))

Number of windows: 2203
Participant
Dany       295.375
Felix      331.500
Jacob      226.000
Julian     251.750
Mark       281.625
Martin     277.000
Michele    264.750
Paul       275.875
dtype: float64

In [14]:
# compute duration in seconds of each window

# interval size in seconds of each row in the dataset
interval_size = 0.25 # seconds

duration = window_size * interval_size

print('Duration of each window:', duration, 'seconds')

Duration of each window: 20.0 seconds

In [15]:
# drop the columns that start with count or std

cols = df.columns

cols_to_drop = []

for col in cols:
    if col.startswith('count') or col.startswith('std'):
        cols_to_drop.append(col)

df = df.drop(cols_to_drop, axis=1)